.title{
    width: 100%;
    height: 70px;
    display: flex;
    ul{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 28px;
            height: 28px;
        }
    }
}
.brandBox{
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: column;
    
    .brandTitle{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .brandWrap{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .brandItem{
            width: 50%;
            height: 110px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
            }
            li{
                position: absolute;
                top: 0;
            }
        }
    }
    
}
.newGoodsBox{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    
    .newGoodsTitle{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .newGoodsWrap{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .newGoodsItem{
            width: 50%;
            height: 200px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
                height: 140px;
            }
            li{
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
        }
    }
    
}
.hotGoodsBox{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    
    .hotGoodsTitle{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hotGoodsWrap{
        width: 100%;
        display: flex;
        flex-direction: column;
        .hotGoodsItem{
            width: 90%;
            height: 200px;
            display:flex;
            align-items: center;
            border-top: 1px #ccc solid;
            margin: 0 auto;
            img{
                width: 45%;
                height: 140px;
            }
            li{
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: left;
            }
            
        }
    }
    
}
.topGoodsBox{
    width: 100%;
    height: 312px;
    display: flex;
    flex-direction: column;
    
    .topGoodsTitle{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .topGoodsWrap{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
}
.space-carousel {
    height: 100%;
    padding: 16px;
    background: #DEF1E5;
    overflow: hidden;
    .slider-slide{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 153px;
        }
    }
    
  }
  
.hotGoodsBox{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    
    .hotGoodsTitle{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hotGoodsWrap{
        width: 100%;
        display: flex;
        flex-direction: column;
        .hotGoodsItem{
            width: 90%;
            height: 200px;
            display:flex;
            align-items: center;
            border-top: 1px #ccc solid;
            margin: 0 auto;
            img{
                width: 45%;
                height: 140px;
            }
            li{
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: left;
            }
        }
    }
    
}
.cateGoryGoodsBox{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    
    .cateGoryGoodsTitle{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cateGoryGoodsWrap{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .cateGoryGoodsItem{
            width: 50%;
            height: 238px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
                height: 140px;
            }
            li{
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
        }
    }
    
}