.title {
  width: 100%;
  height: 70px;
  display: flex;
}

.title ul {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title ul img {
  width: 28px;
  height: 28px;
}

.brandBox {
  width: 100%;
  height: 270px;
  display: flex;
  flex-direction: column;
}

.brandBox .brandTitle {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brandBox .brandWrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.brandBox .brandWrap .brandItem {
  width: 50%;
  height: 110px;
  position: relative;
}

.brandBox .brandWrap .brandItem img {
  width: 100%;
  height: 100%;
}

.brandBox .brandWrap .brandItem li {
  position: absolute;
  top: 0;
}

.newGoodsBox {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
}

.newGoodsBox .newGoodsTitle {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newGoodsBox .newGoodsWrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.newGoodsBox .newGoodsWrap .newGoodsItem {
  width: 50%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newGoodsBox .newGoodsWrap .newGoodsItem img {
  width: 100%;
  height: 140px;
}

.newGoodsBox .newGoodsWrap .newGoodsItem li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hotGoodsBox {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
}

.hotGoodsBox .hotGoodsTitle {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotGoodsBox .hotGoodsWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hotGoodsBox .hotGoodsWrap .hotGoodsItem {
  width: 90%;
  height: 200px;
  display: flex;
  align-items: center;
  border-top: 1px #ccc solid;
  margin: 0 auto;
}

.hotGoodsBox .hotGoodsWrap .hotGoodsItem img {
  width: 45%;
  height: 140px;
}

.hotGoodsBox .hotGoodsWrap .hotGoodsItem li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.topGoodsBox {
  width: 100%;
  height: 312px;
  display: flex;
  flex-direction: column;
}

.topGoodsBox .topGoodsTitle {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topGoodsBox .topGoodsWrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.space-carousel {
  height: 100%;
  padding: 16px;
  background: #DEF1E5;
  overflow: hidden;
}

.space-carousel .slider-slide {
  width: 100%;
  height: 100%;
}

.space-carousel .slider-slide img {
  width: 100%;
  height: 153px;
}

.hotGoodsBox {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
}

.hotGoodsBox .hotGoodsTitle {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotGoodsBox .hotGoodsWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hotGoodsBox .hotGoodsWrap .hotGoodsItem {
  width: 90%;
  height: 200px;
  display: flex;
  align-items: center;
  border-top: 1px #ccc solid;
  margin: 0 auto;
}

.hotGoodsBox .hotGoodsWrap .hotGoodsItem img {
  width: 45%;
  height: 140px;
}

.hotGoodsBox .hotGoodsWrap .hotGoodsItem li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.cateGoryGoodsBox {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
}

.cateGoryGoodsBox .cateGoryGoodsTitle {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cateGoryGoodsBox .cateGoryGoodsWrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.cateGoryGoodsBox .cateGoryGoodsWrap .cateGoryGoodsItem {
  width: 50%;
  height: 238px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cateGoryGoodsBox .cateGoryGoodsWrap .cateGoryGoodsItem img {
  width: 100%;
  height: 140px;
}

.cateGoryGoodsBox .cateGoryGoodsWrap .cateGoryGoodsItem li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
