* {
  padding: 0;
  margin: 0;
}

.typediv {
  width: 100%;
  flex: 1;
  overflow: hidden;
}

.typediv .header {
  width: 100%;
  height: 40px;
  box-shadow: 0 0.04rem 0.08rem 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
}

.typediv .header div {
  width: 90%;
  height: 70%;
  background: #EDEDED;
  color: #666666;
  font-size: 14px;
  text-align: center;
  line-height: 28px;
  border-radius: 5px;
  margin: auto auto;
}

.typediv .typecontent {
  width: 100%;
  height: 100%;
  display: flex;
}

.typediv .typecontent .left {
  flex: 3;
  border-right: 1px solid #f2f2f6;
}

.typediv .typecontent .left span {
  width: 100%;
  height: 43px;
  display: block;
  text-align: center;
  line-height: 43px;
  font-size: 14px;
}

.typediv .typecontent .left span:nth-child(1) {
  color: #108EE9;
  border-left: 2px solid #108EE9;
}

.typediv .typecontent .right {
  flex: 7;
}
